/*00.Header*/
/*01.Accueil*/
/*02.A propos*/
/*03.Actualité*/
/*04.Films*/
/*05.Réservation*/
/*06.Contact*/
/*07.Footer*/

/* FONT */
/* 
font-family: 'consolas', sans-serif;
font-family: 'Luckiest Guy', cursive;
*/

/*COLORS*/

	/*
	yellow = #ffde03
	blue = #0336ff
	pink = #ff0266
	*/



/*Paramètre généraux*/
body, html{
	padding: 0;
	margin: 0;
}

body{
	background-color: #f1f1f1;
	font-family: 'consolas', sans-serif;
}

.container-fluid{
	padding: 0;
}

.container{
	
	padding: 0;
}

.row{
	margin: 0;
}

[class*="col"] {
	padding: 0;
}


a, a:hover{
	text-decoration: none;
}



